# Module 1 recap

### Type of objects in Python

In Python, integers are called int, we define an integer by simply typing it out:

In [ ]:
1

In [ ]:
-2

In [ ]:
type(1)

In Python, floating-point numbers are called float. We can define a floating-point number by simply typing it out:

In [ ]:
3.12

In [ ]:
0.34

In [ ]:
-0.23

In [ ]:
type(-0.23)

In Python, the boolean data type is called bool. We can define a boolean value by simply typing it out:

In [ ]:
True

In [ ]:
False

In [ ]:
type(True)

In Python, string is called str. To define a str, we can simply type the text and wrap it with the quation mark " or '

In [ ]:
"this is a string."

In [ ]:
'this is a string'

In [ ]:
'this is a string'[1]

In [ ]:
type("this is a string.")

In Python, list is the most commonly used list-liked data type. It also has the concept of length, and allows the user to access its elements by giving an index.

Unlike string, the elements of a list can be ANY type. The syntax of defining a list is to use the [ and ] pairs. For example:

In [ ]:
# a list of three numbers

a = [1, 2, 3]
a

In [ ]:
# a list can contain any type of data

b = ["hello", "python", True, 4, 5]
type(b)

In Python, a range is another data type that behaves like a list. A range represents a series of numbersmber bounded by a pair of start and end values.
A range data type can be defined using the range command:

In [ ]:
# range is another list-liked data type

c = range(5, 15)
type(c)

## Operations in Python

Python and many other programming languages follow well-accepted accepted mathematical conventions when writing and evaluating expressions.
For example, for basic arithmetics:

In [ ]:
# addition

1 + 2

In [ ]:
# subtraction

4 - 3

In [ ]:
# multiplication

3 * 2

In [ ]:
# division

8 / 2

In [ ]:
# equality

2 == 2

In [ ]:
# greater than

2 > 1

In [ ]:
# greater than or equal to

3 >= 2

In [ ]:
# less than

4 < 1

In [ ]:
# inequality

3.0 != 2

For Boolean values, we can apply logical operations and, or, not. They, as suggested by their names, represent the logical condition of "and", "or", "not".

In [ ]:
# both 1st and 2nd values are True?

True and True

In [ ]:
# either 1st or 2nd value is True?

False or True

In [ ]:
# not (the negation of) True is False

not True

In [ ]:
# not (the negation of) False is True

not False

For strings (texts), we can use + to join texts to sentences.

In [ ]:
# create a sentence from words

"hello, " + "python" + "!"

You may noteice that here we use == instead of = to represent the equality. In Python (and many other programming languages), this is to differentiate the action of
1) computing the equality, from the action of
2) assigning a value to a variable:

A variable name MUST start with a letter or the underscore character
A variable name CANNOT start with a number
A variable name can ONLY contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
a= 1
a

In [ ]:
b= 'hello'
b

In [ ]:
c= [1,2,3,4]
c

## Functions

In computer programming, a Function is a block of code that is intended to be reused to perform certain operations. Functions help you break down complex tasks and reuse your code in different programs.

In [ ]:
print(1)

In [ ]:
type(0.2)

In Python, a Function is defined by the def keyword followed by a function name, a pair of brackets (), and a colon symbol :
A Function must have a Body, which is the code block that performs certain tasks. In case you need an empty body which does nothing, you can use the keyword pass.

In [ ]:
# define a function called "shall_i_buy"
# it has three arguments: "price", "income", "really_want_that"

def shall_i_buy(price, income, really_want_that):
    # evaluate the expression and store the
    # value to a variable called "to_buy"
    to_buy = (income > price) or really_want_that

    # return of value of "to_buy"
    return to_buy

In [ ]:
# price is 3, income is 6, and I really want that

shall_i_buy(3, 6, True)

## Libraries

As we mentioned that functions are intended for reusing code. This include our code and also other's code. In computer programming, the code from others are typically provided as a Library.
In Python, we use the keyword import followed by the name of the library to import and use other's code.

In [ ]:
# import a library called "math"

import math

In [ ]:
# compute the sine value of half-pi

math.sin(3.14159 * 0.5)

Once we imported a library, we can keep using it

In [ ]:
# compute the cosine value of 0.0

math.cos(0.0)

### Documentations

A Library written by others can be very complex, and it is not possible to know what exactly it contains without a Documentation. Hence, python coders need to spend time to get familiar with commonly-used libraries and functions.
An example would be the official Python Documentation, which already covers many aspects such as numerical computation, datetime conversion, file reading / writing, access Internet etc.
You can find the official Python Documentation via docs.python.org

## Conditionals

Branching allows us to step beyond the "line-by-line" schema of running code and to execute a block of code only under certain condition. As if we are saying "do something if something happened".

In computer programming, the line of code we use to implement branching is called the if statement. The syntax of if statement in Python is if keyword followed by a conditional expression, and then a colon symbol :

In [ ]:
a= 5
b= 5

### If statement

In [ ]:
if a == 5:
    print("a is 5")

In [ ]:
if b != 3:
    print("b is not 3")

In [ ]:
# number of white spaces MUST be consistent


if a == 5:
print("a is 5")
    print("a is not 6")

### Else statement

In many cases, we not only need consider the situation when the condition is True, but also when it is False. And to specify the code block for this alternative situation, we use else statement.
An else statement MUST show up after an if statement, therefore we sometimes use if-else statement to call them both. In Python, the syntax of else statment is else keyword followed by the colon symbol :

In [ ]:
# if-else statement

if a == 5:
    print("a is 5")
else:
    print("a is not 5")

### Nesting if-else statements

The if-else statement represents the basic unit of decision making, but for complex problems, it is quite common that we have to make sub-dicision-making for one condition.
Take a look at the following example:

In [ ]:
# if-else statement inside another if-else statement

today = "monday"

if today == "monday":
    print("order sushi")
else:
    if today == "thursday":
        print("order pizza")
    else:
        print("cook at home")

### Else if statement

However, writing nested statements is not always a good coding style, especially when the logic gets complex.
In many cases, you can simplify your code by flattening your nested code block in an else statement with the else if statement. In Python, else if statement is defined by elif keyword followed by the condition and the colon sumbol :

In [ ]:
# rewrite "if-else" in "else" into "else if (elif)"

today = "monday"

if today == "monday":
    print("order sushi")
elif today == "thursday":
    print("order pizza")
else:
    print("cook at home")

### If-else statement in a function

As a review and extension of our previous session on function, we can naturally write our if-else statement in the body of a function:

In [ ]:
def order_food(today):
    if today == "monday":
        print("order sushi")
    elif today == "thursday":
        print("order pizza")
    elif today == "friday":
        print("order noodle")
    else:
        print("cook at home")

In [ ]:
order_food("monday")

## Loops

From "until" to "while"

In the above examples, we specified our stopping condition as "until something is true". This specification can be converted to its equivalent while sentence "while something is true".
For example,
repeat something, until count is less than or equal to zero (count <= 0), is logically equivalent to
repeat something, while count is greater than zero (count > 0).

### While statement

The conversion from until to while helps us to repeat our code in another way: the while loop.
In python, while loop is defined by a while statement. A while statement starts with the while keyword, followed by an expression that can be evalutes as True or False, and then a colon symbol :, and finally a body with indentations.

In [ ]:
# repeat a = a - 1
# while a > 0 (i.e., until a <= 0)

a = 10

while a > 0:
    a = a - 1
    print(a)

### For Loop statement

In Python, a for loop is a special type of loop which repeats certain operation for each element of a list-liked data type.
For example, repeat print for each element of a string "hello" can be written as:

In [ ]:
# elem is a variable whose value will be
# re-assigned during the executing of the for loop

for elem in "hello":
    print(elem)

In [ ]:
# repeat print for each element of a range data type can be written as:

for i in range(10):
    print(i)

Similar to while loop and other code structures, the code block after the : symbol is the body of the for loop and it should be written with indentation.

In [ ]:
# Compute the square of a list of

integers = [1, 2, 3, 4, 5]

for i in integers:
    print(i * i)

In [ ]:
# summing a list of numbers

numbers = [3, 6.6, 7, 9.2, 12.5, 17.5]

total = 0

for n in numbers:
    total = total + n

print(total)